<%= form_for(@pflegeanbieter) do |f| %>
  <% if @pflegeanbieter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pflegeanbieter.errors.count, "error") %> prohibited this pflegeanbieter from being saved:</h2>

      <ul>
      <% @pflegeanbieter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bewertung %><br>
    <%= f.number_field :bewertung %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
