<h1>Listing pflegeanbieters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bewertung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pflegeanbieters.each do |pflegeanbieter| %>
      <tr>
        <td><%= pflegeanbieter.name %></td>
        <td><%= pflegeanbieter.bewertung %></td>
        <td><%= link_to 'Show', pflegeanbieter %></td>
        <td><%= link_to 'Edit', edit_pflegeanbieter_path(pflegeanbieter) %></td>
        <td><%= link_to 'Destroy', pflegeanbieter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pflegeanbieter', new_pflegeanbieter_path %>
