<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pflegeanbieter.name %>
</p>

<p>
  <strong>Bewertung:</strong>
  <%= @pflegeanbieter.bewertung %>
</p>

<%= link_to 'Edit', edit_pflegeanbieter_path(@pflegeanbieter) %> |
<%= link_to 'Back', pflegeanbieters_path %>
